{% load static %}
<html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">



    </head>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <p style="text-align: right"><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></p>
    {% endif %}
    <h1><a href="/">Blog!</a></h1>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

    </body>
</html>
